QFrame {
  background-color: #404049;
}

QWidget#menubar_obj, QWidget#status_bar_obj {
  background-color: #404049;
  color: #82edd8;
}

QFrame QSlider::groove:horizontal, QWidget#clip_win>QSlider::groove:horizontal {
  border-radius: 1px;
  height: 3px;
  margin: 0px;
  background-color: #222610;
}

QFrame QSlider#fat_slider::groove:horizontal {
  border-radius: 1px;
  height: 8px;
  margin: 0px;
  background-color: #222610;
}

QFrame QSlider::groove:horizontal:hover,
QWidget#clip_win>QSlider::groove:horizontal:hover {
  background-color: #21e4e4;
}

QFrame QSlider#fat_slider::groove:horizontal:hover {
  background-color: #21e4e4;
}

QFrame QSlider::handle:horizontal, QWidget#clip_win>QSlider::handle:horizontal {
  background-color: #91fff1;
  border: none;
  height: 40px;
  width: 20px;
  margin: -10px 0;
  border-radius: 10px;
  padding: -20px 0px;
}

QFrame QSlider#fat_slider::handle:horizontal {
  background-color: #91fff1;
  border: none;
  height: 40px;
  width: 25px;
  margin: -10px 0;
  border-radius: 10px;
  padding: -20px 0px;
}

QFrame QSlider:focus, QWidget#clip_win>QSlider:focus {
  background-color: #5ca26a;
}

QFrame QLabel {
  color: #82edd8;
  font-size: 14px;
}

QFrame QPushButton, QWidget#clip_win>QPushButton {
  background-color: #a6bda1;
  font-size: 14px;
}

QFrame QPushButton:hover, QWidget#clip_win>QPushButton:hover {
  background-color: #91fff1;
}

QFrame QPushButton:focus {
  border: 2px solid #91fff1;
  border-radius: 3px;
}

QWidget#op_win>QLabel {
  background-color: #82edd8;
  color: #000000;
  border-radius: 3px;
  font-size: 20px;
}

QWidget QLabel#bl_label, QWidget QLabel#sr_label, QWidget#clip_win>QLabel {
  background-color: #404049;
  color: #82edd8;
}

QWidget#op_win, QWidget#clip_win {
  background-color: #404049;
}

QWidget#op_win>QSlider::groove:horizontal {
  border-radius: 1px;
  height: 6px;
  margin: 0px;
  background-color: #222610;
}

QWidget#op_win>QSlider::handle:horizontal {
  background-color: #91fff1;
  border: none;
  height: 40px;
  width: 20px;
  margin: -10px 0;
  border-radius: 10px;
  padding: -20px 0px;
}

QWidget#op_win>QSlider::groove:horizontal:hover {
  background-color: #21e4e4;
}

QWidget#op_win>QPushButton {
  background-color: #a6bda1;
}

QWidget#op_win>QPushButton:focus {
  border: 2px solid #91fff1;
  border-radius: 3px;
}

QWidget#op_win>QPushButton:hover {
  background-color: #91fff1;
}

QWidget QListWidget {
  color: #000000;
  background-color: #ffffff;
}

QWidget#wavetext {
  background-color: #404049;
  color: #000000;
  font-size: 14px;
}

QWidget#preset_win {
  background-color: #404049;
}

QWidget#preset_win>QLabel {
  background-color: #404049;
  color: #000000;
  border-radius: 3px;
  font-size: 15px;
}

QWidget#p_recall_win {
  background-color: #404049;
}

QWidget#p_recall_win>QLabel {
  background-color: #404049;
  color: #000000;
  font-size: 14px;
}
